# .htaccess 及び .htpasswd ファイルを不可視 --------------------------
#ハッキング対策として設定ファイルを読み込まれるのをブロックします。

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>

# HTMLファイルでPHPを実行可能にする ----------------------------------
#拡張子htmlの通常のソースの中で、直接PHPを記述できます。

AddType application/x-httpd-php .htm .html


# ディレクトリ制御 ---------------------------------------------------
#index.htmlと入力せずに(/)だけの場合でもindex.htmlを呼び出します。
#index.html部分を読み込ませたいファイルに変更する事も出来ます。

DirectoryIndex index.html


# URLリダイレクト ----------------------------------------------------
#サイトの引越しや移動する場合に自動的に新しいサイトへ転送出来ます。
#Redirect 301 旧サイトアドレス 新サイトアドレス と記述します。
#記述例ですので使用する時には#を外してご利用下さい。

#Redirect 301 /abc/index.html http://www.example.com/abc/index.html


# Not Found［404］設定 -----------------------------------------------
#Not Foundエラー用のHTMLファイルを用意する場合にご利用下さい。
#記述例ですので実際には#を外してください。

#ErrorDocument 403 /sample/403.html
#ErrorDocument 404 /sample/404.html
#ErrorDocument 500 /sample/500.html


# アクセス制限 -------------------------------------------------------
#特定のIPアドレスからのアクセスを拒否したい場合に指定して下さい。
#記述例ですので実際には#を外してください。

#deny from 219.111.65.200 (拒否したいアクセスのIPアドレス)
#deny from all (すべてのアクセスを拒否)

