@charset "utf-8";

div#subHeader{
	margin-left: 220px;
	font-size: 10px;
	color: #fff;
	letter-spacing: 0.14em;
}

div#wrapper{
	width: auto;
	padding: 0;
	font-family: 'Arial', 'Lucida Grande', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', Osaka, sans-serif;
	background: #fff;
	color: #fff;
	overflow: hidden;
}


div#header{
	padding: 40px 20px;
	margin: 180px 0 60px 0;
	background: #00CED1;
}

h1{
	font-size: 24px;
	margin-bottom: 15px;
}


ul#gNavi{
	width: 960px;
	font-size: 14px;
}

ul#gNavi li{
	float: left;
	display: block;
	margin-right: 15px;
}

ul#gNavi li a{
	text-decoration: none;
	color: #fff;
}

ul#gNavi li a:hover{
	text-decoration: underline;
}

div#mainContents{}
div#mainContents div.contentsBlock{
	margin-bottom: 180px;
	display: block;
}

div#mainContents div.contentsBlock:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }


div#mainContents div h2{
	width: 220px;
	font-size: 22px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
/*	background: url(../img/bg_dash.gif) no-repeat 0 0;*/
	letter-spacing: 0.05em;
	color:#000;
}

div#mainContents div h3{
	color:#000;
	font-size: 20px;
}

div#mainContents div.mainBlock{
	padding-top: 20px;
	padding-left:15px;
	padding-right:10px;
/*	background: url(../img/bg_dash.gif) no-repeat 0 0;*/
	width: auto;
	float: left;
}

div#mainContents div.mainBlock strong.titChapter{
	display: block;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 14px;
}


/* mainBlock */
div#mainContents div.mainBlock p{
	line-height: 2.0;
	color: #000;
	font-size: 15px;
}

div#mainContents div.mainBlock table th{
	font-size: 15px;
}

div#mainContents div.mainBlock a{
	color:#0000ff;
	font-size:16px;
}


div#mainContents div#about{}

div#mainContents div#topics{}

div#topics div.mainBlock table{
	font-size: 12px;
	color:#000;
}

div#topics div.mainBlock table th,
div#topics div.mainBlock table td{
	padding-bottom: 8px;
}


div#topics div.mainBlock table th{
	/*color: #b7aa79;*/
	color: #32CD32;
	padding-right: 20px;
}
div#topics div.mainBlock table td{}

div#topics div.mainBlock table td a{
	text-decoration: none;
	color: #000;
}

div#topics div.mainBlock table td a:hover{
	text-decoration: underline;
}

div#mainContents div#works{}

div#mainContents div#works div.clearfix{
	margin-bottom: 45px;
}

div#mainContents div#works div.worksBlock{
	width: 208px;
	float: left;
	display: inline;
	margin-left: 13px;
}

div#mainContents div#works div.firstItem{
	margin-left: 0;
}

div#mainContents div#works div.worksBlock a{}
div#mainContents div#works div.worksBlock a img{
	padding-bottom: 20px;
}

div#mainContents div#works div.worksBlock strong{
	font-weight: bold;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

div#mainContents div#works div.worksBlock span{
	display: block;
	text-align: justify;
	line-height: 1.6;
}

div#mainContents div#works div.worksBlock{}
div#mainContents div#works div.worksBlock{}
div#mainContents div#works div.worksBlock{}

div#mainContents div#menu{}

div#mainContents div#menu ul{
	display: block;
	float: left;
	margin-left: 60px;
}

div#mainContents div#menu ul.firstItem{
	margin-left: 0;
}

div#mainContents div#menu ul li{
	display: block;
	padding-bottom: 9px;
}

div#mainContents div#access{}

div#mainContents div#access dl{
	margin-top: 30px;
}

div#mainContents div#access dl dt{
	margin-bottom: 7px;
	font-weight: bold;
}

div#mainContents div#access dl dd{
	margin-bottom: 12px;
	color: #fff;
}

/*
div#link div.mainBlock div h2{
	color:#fff;
}

div#link div.mainBlock p{
	color:#fff;
}*/

div#mainContents div#recruit{}


div#mainContents div#twitter{}

